<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="home-page">
    <main>
        <div>
            <h1>Приложение по добавлению информации о пользователях</h1>
            <nav>
                <a href="/users">Пользователи</a>
                <a href="/posts">Посты</a>
            </nav>
        </div>
    </main>
</body>
</html>
